<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <paypal>
    <settings>
      <add name="mode" value="sandbox" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="clientId" value="ASEsoBBcFkjmorpXPPACm0-f6a9ArNTqKasl6iRNGUZ_PBhfdFJJii1vtirJ" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="clientSecret" value="EJX65BDJ5RNeNJba2ql_jWP51UJeaPKP2qkEUhUunZw7TArSwZO4PFUxh74t" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </settings>
  </paypal>

  <connectionStrings>
    <add name="eMonthly"
         connectionString="MDaGLSRuXmY82OFMuyBqTCdFD/W40DKOuHPGCCp2+BkTY8uFGQ2ektTqAEjuCbLkolWGQMrqI0uKP63wEEqR2ANCaf7Ey72f/w7zf1i8dhc="
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="promoExpiry" value="12/31/2015" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>