<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
  </configSections>
  <appSettings>
    <add key="CachingOn" value="false" />
    <add key="CacheDuration" value="3600" />
    <add key="LogFolder" value="~/logs/" />
    <add key="ImagesBasePath" value="~/images/" />
    <add key="supportaccount" value="help@emonthlies.com" />
    <add key="salesaccount" value="sales@emonthlies.com" />
    <add key="promoCode" value="emonthliesFree514" />
    <add key="promoExpiry" value="12/31/2025" />
    <add key="LoginUrl" value="/Account/Login.aspx" />
  </appSettings>
  <!--<connectionStrings>
    <add name="eMonthly" connectionString="C0XAPnzvG2BxZGT/hItYctmIswCHQ/H+dRYi6kBbYACY3bpmN5eqkEZXAR7ZGLw/Ytt8/c1zcwsoMAgMmxcohACo6tH6wqkSBoZB27cjlj9O7e+wBYxvUXSvAyu/cKL1uybQvWXxhN5NTuJK6ja1u8QFpWgvEC21beT2Kw2k/pY=" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="eMonthly" connectionString="Data Source=TIRINGBRING-PC\SQLEXPRESS;Initial Catalog=emonthleysdb;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="eMonthly" connectionString="Data Source=VPLANETWEB1\SQLEXPRESS;Initial Catalog=emonthleysdb;Uid=emsk;Pwd=S@mad2014;MultipleActiveResultSets=True" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="eMonthly" connectionString="MDaGLSRuXmY82OFMuyBqTCdFD/W40DKOuHPGCCp2+BkTY8uFGQ2ektTqAEjuCbLkolWGQMrqI0uKP63wEEqR2ANCaf7Ey72f/w7zf1i8dhc=" />
  </connectionStrings>
  <system.web>
    <globalization uiCulture="en" culture="en-US" />
    <trust level="Full" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/login.aspx" defaultUrl="~/default.aspx" protection="All" requireSSL="false" name=".emAUTH" slidingExpiration="false" timeout="20" path="/" cookieless="UseCookies" enableCrossAppRedirects="true" domain="emonthlies.com" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0" theme="emtheme" enableSessionState="true">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="eMonthleys.BLL.MyRoleProvider, eMonthleys.BLL" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpCookies httpOnlyCookies="false" requireSSL="false" />
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" cookieless="UseCookies" timeout="20">
      <providers>
        <!-- ReSharper disable WebConfig.TypeNotResolved -->
        <!-- ReSharper disable WebConfig.ModuleNotResolved -->
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
        <!-- ReSharper restore WebConfig.ModuleNotResolved -->
        <!-- ReSharper restore WebConfig.TypeNotResolved -->
      </providers>
    </sessionState>
    <httpRuntime maxRequestLength="4194304" executionTimeout="360" enableVersionHeader="false" />
    <httpModules>
      <!-- Register the HttpModule used for BotDetect error logging -->
      <add name="BotDetectTroubleshootingModule" type="BotDetect.Web.CaptchaTroubleshootingModule, BotDetect" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="help@emonthlies.com">
        <network host="mail.emonthlies.com" userName="help@emonthlies.com" password="eM2014Sk" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <!-- This is for IIS7+ Integrated mode -->
      <add name="XfoHeaderModule" type="eMonthleys.Modules.XfoHeaderModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- PayPal SDK config -->
  <paypal>
    <settings>
      <!-- The API endpoint -->
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0" />
      <add name="PayPalAPI" value="https://api-3t.sandbox.paypal.com/2.0" />
      <!-- Connection timeout in milliseconds -->
      <add name="connectionTimeout" value="360000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="3" />
      <add name="IPAddress" value="99.232.88.54" />
    </settings>
    <accounts>
      <account apiUsername="samskahn_api1.emonthlies.com" apiPassword="97GRXC2HSAXZYTRL" applicationId="APP-9J8240446J5773355" apiSignature="A68859pDcJKhpisZpaMkuQEJHzSPAamLXKRhPF.XgcWjoFl6bQLSv8zp" />
    </accounts>
  </paypal>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="logs/PayPalLog.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>